@import url('./reset.module.scss');

:root {
  --cyan: #bee1ff;
  --lily: #d2c7e2;
  --rose: #e79a9a;
  --violet: #b8bdec;
}

* {
  box-sizing: border-box;
}

body {
  animation: bgColor 12s ease-in-out infinite;
  font-family: 'Montserrat', 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.illustrations {
  position: relative;
}

.illustrations {
  height: 540px;

  @media all and (min-device-width: 1024px) {
    height: 800px;
  }
}

.no-text {
  line-height: 0;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
}

.object {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  margin-left: -40vw;
  position: absolute;
  top: 160px;
  left: 50%;
  opacity: 0;
  width: 80vw;

  @media all and (min-device-width: 1024px) {
    height: 500px;
    margin-left: -250px;
    top: 150px;
    width: 500px;
  }
}

.object-bus {
  animation: fadeInLeft 6s -4s ease-in-out infinite alternate;
  background-image: url('../images/autobus.svg');
}

.object-coffee {
  animation: fadeInLeft 6s 0s ease-in-out infinite alternate;
  background-image: url('../images/coffee.svg');
  transform: translateX(2vw);

  @media all and (min-device-width: 1024px) {
    transform: translateX(30px);
  }
}

.object-ice {
  animation: fadeInLeft 6s ease-in-out 4s infinite alternate;
  background-image: url('../images/ice-cream.svg');
}

.object-post-it {
  animation: fadeInLeft 6s ease-in-out 8s infinite alternate;
  background-image: url('../images/post-it.svg');
}

.title {
  color: white;
  margin: 20px;
  text-align: center;

  h1 {
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 12px;
  }
}

@keyframes bgColor {
  0% {
    background-color: var(--violet);
  }

  25% {
    background-color: var(--rose);
  }

  50% {
    background-color: var(--cyan);
  }

  75% {
    background-color: var(--lily);
  }

  100% {
    background-color: var(--violet);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
