.header {
    display: flex;
    font-weight: 300;
    position: fixed;
    padding: 35px 26px 26px;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    flex: 1 0 0;
    justify-content: flex-end;
    text-decoration: none;
}

a {
    border: 0;
    margin: 0;
    padding: 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.home-link {
    border: 0;
    text-decoration: none;
}

.instagram {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.instagram-text {
    margin-right: 8px;
    position: relative;
    top: -4px;
}
